#tieu-de {
    font-size: 50px;
}

#name {
    color: red;
    font-size: 30px;
}

#output {
    padding-left: 200px;
}

#xem {
    font-size: 18px;
}

.lua-chon {
    font-size: 20px;
    color: blue;
}